<h1>Mis Productos</h1>
<div class="contenedor-productos">
    {{#each productos}}
    <div class="card">
        <p> Titulo: {{this.title}}</p>
        <p> Descripción: {{this.description}}</p>
        <p> Precio: {{this.price}}</p>
        <button> Comprar </button>
    </div>
    {{/each}}
</div>